.column {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  padding: 0 var(--page-gutter);
  margin-bottom: var(--space-lg);
}

.actionsRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-sm);
}
