.label {
  margin: 0;
  font-size: var(--workout-exercise-volume-label-size);
  font-weight: var(--workout-exercise-volume-label-weight);
  line-height: var(--workout-exercise-volume-label-line-height);
  color: var(--workout-exercise-volume-label-color);
}

.labelCompleted {
  color: var(--workout-exercise-volume-label-color-completed);
}
